[BitTorrent]
Session\QueueingSystemEnabled=true

[LegalNotice]
Accepted=true

[Meta]
MigrationVersion=8

[Network]
Cookies=@Invalid()

[Preferences]
WebUI\Enabled=true
WebUI\LocalHostAuth=false
WebUI\Port=@WEBUI_PORT@
WebUI\Username=@USERNAME@

Downloads\SavePath=@DEFAULT_DOWNLOAD_DIR@
General\UseRandomPort=true
